{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>

<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/dogs/dog-detail.css' %}"
/>
<script defer src="{% static 'js/dog-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="dog-container">
  <div class="dog-img">
  </div>
  <div class="dog-details">
    <h1>{{ dog.name }}</h1>
    {% if dog.age > 0 %}
      <h2>A {{ dog.age }} year old {{ dog.breed }}</h2>
    {% else %}
      <h2>A {{ dog.breed }} puppy.</h2>
    {% endif %}
    <p>{{ dog.description }}</p>
    <div class="dog-actions">
      <a href="{% url 'dog-update' dog.id %}" class="btn warn">Edit</a>
      <a href="{% url 'dog-delete' dog.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="walks-snack-container">
  <section class="walks">
    <div class="subsection-title">
      <h2>Walks</h2>
    </div>
    <h3>Add a Walk</h3>
    <form
      method="post" 
      class="subsection-content"
			autocomplete="off"
      action="{% url 'add-walk' dog.id %}"
    >
      {% csrf_token %}
      {% if dog.walked_today %}
        <p class="fed">{{dog.name}} has gone on a walk today!</p>
      {% else %}
        <p class="unfed">{{dog.name}} might need to go for a walk!</p>
      {% endif %}
      {{ walk_form.as_p }}
      <button type="submit" class="btn submit">Add Walk</button>
    </form>
    <h3>Past Walks</h3>
    {% if dog.walk_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Time</th></tr>
        </thead>
        <tbody>
          {% for walk in dog.walk_set.all %}
            <tr>
              <td>{{walk.date}}</td>
              <td>{{walk.get_type_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="subsection-content">
        <p>{{dog.name}} hasn't been on a walk 😔</p>
      </div>
    {% endif %}
  </section>
</div>

{% endblock %}